/* FONT STACK */
body,
input, select, textarea {
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
}

.centro{
	position:absolute;
	left:50%;
	margin-left:0em;
}

body {
	background:#fff;
	color:#969696;
	margin: 0 auto;
	font-size:14px;
	max-width:100%;
	overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
}

a.esqueceu:link  , a.esqueceu:visited , a.esqueceu:hover, a.esqueceu:active{
	text-decoration:none;
	color:#2C6DB7;
	font-weight:bold;
	margin-left:30%;
	font-size:1em;
}

img.internacionalizacao{
	position:relative;
	float:right;
	top:0.2em;
	right:0.714em;
	border:0;
	padding:0 0.3em;
}

ul li a:link, a:visited, a:active, a:hover{
	text-decoration:none;
	color:#969696;
}

a.usuariologado:link, a.usuariologado:visited , a.usuariologado:hover, a.usuariologado:focus, a.usuariologado:active {
	text-decoration:none;
	position:relative;
	float:right;
	right:1.8em;
	top: 0.8em;
	color:#144276;
	font-size:0.8em;		
}
/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,
.ie7 body,
.ie8 body {
	border-color: #255b17;
	border-style: solid;
	border-width: 0;
}

.ie6 body {
	height: 100%;
}

.property-list .fieldcontain a:link, a:visited , a:hover, a:focus, a:active {
	color: #969696;
}
		
legend{
	color:#6abb45;
	font-size:1em;
	font-weight:bold;
	
}

th  {
	color: #fff;
}

.invisivel{ 
	display: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"]{
  padding:0.6em;
  float:right;
  margin:1em 1.3em;
  width:10em;
  /*display: inline-block;*/
  height:3em;
  color:#555;
  text-align:center;
  font-size:0.7em;
  font-weight:600;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color:#f7f7f7;
  border-radius: 4px;
  border:1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
 }
 
 input[type="submit"].delete{
  padding:0.75em;
  width:10em;
  height:3em;
  color:#555;
  text-align:center;
  font-size:0.7em;
  font-weight:600;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color:#f7f7f7;
  border-radius: 4px;
  border:1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
 
 a.edit:hover, a.edit:active, a.edit:visited, a.edit:link{
  position:absolute;
  display:inline;
  margin:1em 0 0 -10em;
  padding:0.75em;
  width:10em;
  height:3em;
  color:#555;
  text-align:center;
  font-size:0.7em;
  font-weight:600;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color:#f7f7f7;
  border-radius: 4px;
  border:1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
 }
	
h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

.clearer {
    clear: both;
    height: 0.1em;
    margin-top: -0.1em;
    overflow: hidden;
}

	
.header{
	padding:0;
	border-bottom: 0px solid #cd592c;
	
}

.titulo {
	padding-bottom:0.715em;
	background-image: url(../images/fieldset.png);
	background-repeat:no-repeat;
	background-position:center center;  
	background-size:100% 100%; 
}

.titulo span{
	position:relative;
	top:0.2em;
	font-size:1.2em;
	font-weight: bold;
	color:#144276;
	margin-left: 0.3em;
}

/* NAVIGATION MENU */
.menu{
	background-image: url(../images/menu.png);
	background-repeat:no-repeat;
	background-position:center center;  
	background-size:100% 100%; 
}
.menu ul{
	margin:0;
	padding:0.5em 0;
	list-style-type: none;
}
.menu ul li { 
	display: inline;
}

.menu ul li a{
	background-repeat:no-repeat;
	background-position:center 0.2em ;  
	background-size:1.4em 1.4em;  	
	display:inline-block;
  	font-size:0.9em;
	color:#F5F5F5;
  	text-align:center;
  	text-decoration:none;
	width:6.5em;
	padding:1.6em 0 0.5em 0;
	border:0px solid #1469ef;
	margin:0 0.3em;	
	border-radius:3px;
}

.menu ul li .active{
	background-color:#F5F5F5;
	color:#144276;
}	

.menu ul li a.configuracao{
	background-image: url(../images/menu/configuracao.png);
}

.menu ul li a.tipoexpressao{
	background-image: url(../images/menu/tipoexpressao.png);
}

.menu ul li a.addexpressao {
	background-image: url(../images/menu/add.png);
}

.menu ul li a.idioma {
	background-image: url(../images/menu/idioma.png);
}

.menu ul li a.cadastro {
	background-image: url(../images/menu/cadastro.png);
}

.menu ul li a.login {
	background-image: url(../images/menu/login.png);
}

.menu ul li a.logout {
	background-image: url(../images/menu/logout.png);
}

.menu ul li a.expressao {
	background-image: url(../images/menu/expressao.png);
}

.menu ul li a.dicionario {
	background-image: url(../images/menu/book.png);
}

.menu ul li a.usuario {
	background-image: url(../images/menu/usuario.png);
}

/* BASE LAYOUT */

html {
	height: 100%;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html.no-cssgradients {
	background-color: #aaa;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}
	
a:hover, a:active {
	outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
	color:#969696;
	font-weight:normal;
	font-size:1.3em;
}

ul {
	padding: 0;
}

img {
	border: 0;
}


/* GENERAL */	
#grailsLogo a {
	display: inline-block;
	margin: 1em;
}

.content {
	background-image: url(../images/menu/background.png);
	background-repeat: repeat;
}

.content h1 {
	margin:0;
	padding:1.07em 0 0 0.715em;
	color:#969696;
	font-size:1.16em;
}

.scaffold-list h1 {
	border: none;
}

.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height:1.142em;
	width:1.142em;
    padding: 0.5em;
    position: absolute;
    right: 0;
	top: 0;
	text-indent: -9999px;
}

/* NAVIGATION MENU */
.nav {
	-moz-box-shadow: 0 0 0 0 #aaaaaa;
	-webkit-box-shadow: 0 0 0 0 #aaaaaa;
	box-shadow: 0 0 0 0 #aaaaaa;
	zoom: 1;
	border-bottom: 0 solid #CD592C;
	height:2em;
	padding-top:1em;
	padding-left: 0.5em;
}
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
}

.nav a{
	background-position:0 center;
	background-repeat: no-repeat;
	color:#969696;
	text-decoration:none;
	font-size:1em;
	background-size:1.0em;
	padding-left:2.4em;
}

.nav span {
    color: #666;
    display: block;
    padding: 0.25em 0.7em;
    text-decoration: none;
    border-radius: 0.3em;
    font-size: 0.9em;
    margin-left:4.28em;
    color:#fff;
    font-weight:bold;
}

.nav a.home, .nav a.list, .nav a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 1.785em;
}

.nav a.home {
	background-image: url(../images/skin/house.png);
}

.nav a.list {
	background-image: url(../images/skin/database_table.png);
}

.nav a.create {
	background-image: url(../images/skin/database_add.png);
}

/* CREATE/EDIT FORMS AND SHOW PAGES */
.property-list {
	margin: 0.6em 1.25em 0 1.25em;
	padding: 0.3em 1.8em 1.25em;
	position: relative;
	zoom: 1;
	border: 0px solid #2C6DB7;
	background:#FFF;
}
fieldset{
	margin:0.5em 1em;
	padding: 0.3em 1.8em 1.25em;
	position: relative;
	zoom: 1;
	border: 1px solid #144276;
	background-image: url(../images/fieldset.png);
	background-repeat:no-repeat;
	background-position:center center;  
	background-size:100% 100%; 
	
}

.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

.fieldcontain {
	margin-top: 1em;
}

.fieldcontain .property-label{
	color:#969696;
	text-align:right;
	font-size:1em;
	width:30%;
}

.fieldcontain label
{
	color:#144276;
	text-align:right;
	font-size:0.929em;
	width:30%;
}

.fieldcontain .property-label {
	float: left;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 33%;
	font-size: 1em;
}

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0 0;
}

form{
	margin:5px auto;
	width:65%;
	border:0px solid #fff;
	border-radius:0.357em;
}

input, select, textarea {
	background-color:#fff;
	border: 1px solid #2C6DB7;
	font-size:0.929em;
	padding: 0.571em 0;
	width:30%;
	color:#333;
	border-radius:0.357em;
}

select{
	width:50%;
}
::-webkit-input-placeholder {
   color: #bfbfbf;
   font: 13px;
}

:-moz-placeholder {
  color: #bfbfbf;
   font: 0.928em;
}

::-moz-placeholder {
  color:#bfbfbf;
   font: 0.928em;
}

:-ms-input-placeholder {  
   color: #333;  
   font: 1.em;
}
select {
	padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
	vertical-align: top;
}

textarea {
	width: 17.85em;
	height: 10.714em;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input[type=checkbox], input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
}

input[type=text]:focus, select:focus, textarea:focus {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	outline: 0;
	-moz-box-shadow: 0 0 0.5em #ffffff;
	-webkit-box-shadow: 0 0 0.5em #ffffff;
	box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
	color:#2C6DB7;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
	list-style-type:square;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

fieldset.embedded legend {
	margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	   -moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	        box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	   -moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	        box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

.message {
	background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
	background: #fff;
	border-color:2C6DB7;
	color: #333;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

table {
	border-top:1px solid #DFDFDF;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child, tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
	padding-right: 1.25em;
}

td, th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: center;
	vertical-align: top;
}

td a:link, a:visited , a:hover, a:active{
	color:#969696;
	text-decoration: underline;
}

th {
	background-image: url(../images/menu.png);
	background-repeat:no-repeat;
	background-position:center center;  
	background-size:100% 100%;
	color:#fff;
	font-weight: bold;
	line-height:1.7em;
	padding:0.2em 0.6em;
	text-align:center;
}

th.sortable a {
	background-position:right;
	background-repeat:no-repeat;
	background-size:1em 1em;
	padding-right: 1.1em;
	
}

th.asc a {
	background-image: url(../images/skin/asc.png);
}

th.desc a {
	background-image: url(../images/skin/desc.png);
} 

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #fff;
}

th a:hover, th a:focus {
	color: #fff;
}
	
.odd {
	background:#FFF;
}

.even {
	background:#FFF;
}

	
/* PAGINATION */

.pagination {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;

}

.pagination a,
.pagination .currentStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
	background-color:#9A2529;
	color:#fff;
	overflow: hidden;
	padding: 0.3em;
	box-shadow: 0 0 0.214em 0.1em #fff;
	margin:0;
	border: none;
	width:5em;
}

a.skip {
	position: absolute;
	left: -9999px;
}

.inner .login_message {
	padding: 0.428em 1.785em 1.428em 1.785em;
	color: #c33;
	text-align:center;
}

a:link , a:hover{
	text-decoration:none;
}