/* Styles for mobile devices */
@media screen and (max-width:480px) { 
	
	body {
		font-size:8px; 
		max-width:100%;
		height: 100%;
	}
	
	img.internacionalizacao{
		border:0;
		padding:0 0.3em;
		width:1.7em;
		height:1.7em;
		background:transparent;
	}
	
	.menu ul li a{
		background-repeat:no-repeat;
		background-position:center 0.2em ;  
		background-size:1.2em 1.2em;  	
		display:inline-block;
	  	font-size:0.8em;
		color:#fff;
	  	text-align:center;
	  	text-decoration:none;
		width:6.5em;
		padding:1.6em 0 0 0;
		margin:0 0.3em;	
	}
	
	input, select, textarea {
		width:65%;
	}

	form{
		margin:5px auto;
		width:100%;
		border:0px solid #fff;
		border-radius:0.357em;
	}
}
